html,body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,hr,img,input{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
html{
	font-size: 100px;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color:white;
}
img{
	border:none;
	display: block;
}
.nav{
	width:100%;
	height:0.59rem;
	background: black;
	display: flex;
	/*position: fixed;*/
	border-bottom: 1px solid gray;
	z-index:99;
}
.nav a{
	display: block;
}
.nav a:nth-child(1){
	width:0.59rem;
	height:0.6rem;
	float:left;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid gray;
} 
#header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.nav span{
	width:0.2rem;
	height:0.02rem;
	background: white;
	margin:2px 0;
	position:relative;
	cursor: pointer;
}

.nav img{
	width:0.42rem;
	height:0.29rem;
	float:right;
	padding-right:0.4rem;
	padding-top:0.15rem;
}

.nav a:nth-child(2){
	flex:1;
	height:0.6rem;
	float:left;
	border-right:1px solid gray;
}
.nav a:nth-child(3){
	width:0.59rem;
	height:0.55rem;
	float:left;
	border-right:1px solid gray;
	padding-bottom: 5px;
}
.nav a:nth-child(4){
	width:0.59rem;
	height:0.6rem;
	float:left;
}
.contentnav{
	width:100%;
	position: absolute;
	left:0;
	top:0.6rem;
	display: none;
	z-index:99999;
}
.contentnav li{
	height:0.2rem;
	width:100%;
	padding:0.15rem 0;
	line-height: 0.18rem;
	text-align: center;
	font-size: 0.18rem;
	font-weight: normal;
	background: black;
	color:white;
}
.contentnav li:nth-child(3){
	border-bottom:1px solid gray;
	/*padding:0 5px;*/
}
/*.contentnav li a{
	color:white;
}*/
.contentnav li:nth-child(7){
	background:#333;
}
.contentnav li:nth-child(8){
	background:#333;
}
.contentnav li:nth-child(9){
	background:#333
}
.contentnav li:nth-child(10){
	background:#333;
}

.person{
	width:88%;
	height:0rem;

	margin:0 auto;
	
	overflow:hidden;
	background: #d5d5d5;
}
.person span{
	display: block;
	width:0.34rem;
	height:0.34rem;
	border:1px solid gray;
	border-right:none;
	text-align: center;
	line-height: 0.39rem;
	position: absolute;
	float:left;
	overflow: hidden;
}
.person img{
	width:0.24rem;
	height:0.24rem;
	display: inline-block;
	float:left;
	text-align: center;
	line-height: 0.36rem;
	padding-top: 0.05rem;
	padding-left:0.04rem;
}
.person input{
	display: block;
	width:2.8rem;
	height:0.34rem;
	border:1px solid #ccc;
	float: right;
	overflow: hidden;
	border:1px solid gray;
	border-left:none;
}


.userregister{
	width:100%;
	height:0.56rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
	padding:0.1rem 0 0 0;
	   
	    background:#fff;
}
.userregister h3{
	color:black;
	font-size: 0.16rem;
	display: block;
	float:left;
	font-weight: bold;
	overflow: hidden;
}
.userregister input{
	display: block;
	width:0.2rem;
	height:0.2rem;
	border:2px solid black;
	float:left;
	background: #fff;
	overflow: hidden;
	border:2px solid #000;
}

.userbox{
	display: none;
	width:100%;
	height:4.1rem;
	padding:0.1rem;
	overflow: hidden;
}
.userbox .p{
	width:99%;
	height:0.55rem;
	font-size: 0.13rem;
	color:#000;
	overflow: hidden;

}
.userbox .p p{
	display:inline-block;
	width:94%;
	height:0.55rem;
	padding:0.2rem 0 0 0.1rem;

}
.txtinput{
	width:100%;
	height:0.39rem;
	padding-top:0.21rem;
	margin:0 auto;
}
.txtinput input{
	width:3.0rem;
	height:0.39rem;
	border:1px solid #ccc;
}
.pasinput{
	width:100%;
	height:0.39rem;
	padding-top:0.21rem;
}
.pasinput input{
	width:3.0rem;
	height:0.39rem;
	border:1px solid #ccc;
}
.checkinput{
	width:100%;
	height:0.39rem;
	display: flex;
	justify-content: left;
	align-items: center;

}
.checkinput input{
	display: block;
	width:0.2rem;
	height:0.2rem;
	border:2px solid gray;
	float:left;
}
.checkinput span{
	display: block;
	font-size: 0.13rem;
	color:#000;
	float:left;
}
.login{
	width:100%;
	height:0.39rem;

}
.login a{
	display: block;
	width:3.0rem;
	height:0.39rem;
	font-size: 0.18rem;
	color:#fff;
	background: #0286CD;
	text-align: center;
	line-height: 0.39rem;
	cursor: pointer;
}
.login span{
	display: block;
	width:100%;
	font-size: 0.13rem;
	color:#999;
	float:left;
	line-height: 0.39rem;
}
.otherstyle{
	width:3.0rem;
	height:0.39rem;
}
.otherstyle h4{
	display: block;
	font-size: 0.13rem;
	color:#000;
	float:left;
	line-height: 0.39rem;

}



.userregisterfind{
	width:100%;
	height:0.56rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	padding:0.1rem 0 0 0;
}
.userregisterfind h3{
	color:black;
	font-size: 0.16rem;
	display: block;
	float:left;
	font-weight: bold;
	overflow: hidden;
}
.userregisterfind input{
	display: block;
	width:0.2rem;
	height:0.2rem;
	border:2px solid black;
	float:left;
	background: #fff;
	float:right;
	overflow: hidden;
}
.userboxfind{
	display: none;
	width:100%;
	height:4.1rem;
}
.userboxfind .p{
	width:100%;
	height:0.55rem;
	font-size: 0.13rem;
	color:#000;
	overflow: hidden;
}
.userboxfind .p p{
	display:inline-block;
	width:100%;
	height:0.55rem;
	padding:0.2rem 0 0 0.2rem;
}
.checkbox{
	width:100%;
	height:1.45rem;
	overflow: hidden;
}
.checkbox ul{
	display: block;
	width:100%;
	height:1.25rem;
	padding:0.1rem 0 0 0.2rem;
	overflow: hidden;
}
.checkbox li{
	font-size: 0.13rem;
	color:#000;
}
.txtcontent{
	width:90%;
	height:0.7rem;
	/*overflow: hidden;*/
	margin:0 auto;
}
.txtcontent p{
	display:block;
	width:100%;
	color:#c7c7c7;
	line-height: 0.14rem;
	font-size: 0.12rem;
	padding:0.1rem 0.08rem;
}
.usestyle{
	width:100%;
	height:0.39rem;
}
.usestyle a{
	display: block;
	width:90%;
	height:0.39rem;
	font-size: 0.15rem;
	color:#fff;
	background: #0286CD;
	text-align: center;
	line-height: 0.42rem;
	margin:0 auto;
}

.kong{
	width:100%;
	height:1rem;
}













.footer{
	width:100%;
}
.back{
	width:100%;
	height:0.48rem;
	line-height: 0.48rem;
	text-align: center;
	font-size: 16px;
	margin-bottom: 5px;
	color:#000;
	background: #fff;
}
.footer-top{
	width:100%;
	height:0.5rem;
	background:#000;
	border-bottom:1px solid gray;
}
.footer-top ul{
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.footer-top li{
	float: left;
	color:white;
	font-size: 16px;
	line-height: 0.5rem;
}
.footer-top li:nth-child(1){
	padding-left:12px;
}
.footercont{
	width:100%;
	height:0.79rem;
	background:#000;
	border-bottom:1px solid gray;
}
.footercont ul{
	display: block;
	width:95%;
	height:0.79rem;
	padding:12px 15px 0 0;
	
}
.footercont li{
	display: block;
	width:50%;
	height:0.26rem;
	font-size: 12px;
	color:#fff;
	float: left;
	/*line-height: 0.26rem;*/
	text-align: center;
}
.footerthree{
	width:100%;
	height:110px;
	background: #000;
}
.footerthree .footerthreeone{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:39px;
	width:100%;
	border-bottom:1px solid gray;
}
.footerthree .footerthreeone li{
	float:left;
	color:white;
	font-size:12px;
	line-height: 0.5rem;
}
.footerthree .footerthreetwo{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:39px;
	width:100%;
	border-bottom:1px solid gray;
}
.footerthree .footerthreetwo li{
	float:left;
	color:white;
	font-size:12px;
	line-height: 0.5rem;
}
.footerthree .footerthreethree{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:31px;
	width:100%;
}
.footerthree .footerthreethree li{
	float:left;
	color:white;
	font-size:12px;
	line-height: 0.31rem;
}
